<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>58.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,813},{129,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,66}}</string>
                <key>sourceSize</key>
                <string>{129,66}</string>
            </dict>
            <key>59.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,482},{134,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,72}}</string>
                <key>sourceSize</key>
                <string>{134,72}</string>
            </dict>
            <key>60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{138,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,0},{138,80}}</string>
                <key>sourceSize</key>
                <string>{270,80}</string>
            </dict>
            <key>61.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,618},{142,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,0},{142,80}}</string>
                <key>sourceSize</key>
                <string>{270,80}</string>
            </dict>
            <key>62.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{268,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{268,74}}</string>
                <key>sourceSize</key>
                <string>{270,80}</string>
            </dict>
            <key>63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{270,78}}</string>
                <key>sourceSize</key>
                <string>{270,80}</string>
            </dict>
            <key>64.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,509},{160,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,0},{160,80}}</string>
                <key>sourceSize</key>
                <string>{270,80}</string>
            </dict>
            <key>65.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,762},{134,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{134,80}}</string>
                <key>sourceSize</key>
                <string>{270,80}</string>
            </dict>
            <key>66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{134,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{134,80}}</string>
                <key>sourceSize</key>
                <string>{270,80}</string>
            </dict>
            <key>67.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,898},{124,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,0},{124,80}}</string>
                <key>sourceSize</key>
                <string>{270,80}</string>
            </dict>
            <key>68.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{130,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,0},{130,80}}</string>
                <key>sourceSize</key>
                <string>{270,80}</string>
            </dict>
            <key>69.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,881},{106,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,0},{106,80}}</string>
                <key>sourceSize</key>
                <string>{270,80}</string>
            </dict>
            <key>70.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,919},{122,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,0},{122,80}}</string>
                <key>sourceSize</key>
                <string>{270,80}</string>
            </dict>
            <key>71.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,318},{176,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{176,80}}</string>
                <key>sourceSize</key>
                <string>{270,80}</string>
            </dict>
            <key>72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{176,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,0},{176,80}}</string>
                <key>sourceSize</key>
                <string>{270,80}</string>
            </dict>
            <key>73.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,400},{166,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{166,80}}</string>
                <key>sourceSize</key>
                <string>{270,80}</string>
            </dict>
            <key>74.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,272},{235,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,75}}</string>
                <key>sourceSize</key>
                <string>{235,75}</string>
            </dict>
            <key>75.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{252,80}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{252,80}}</string>
                <key>sourceSize</key>
                <string>{270,80}</string>
            </dict>
            <key>76.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{152,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,0},{152,80}}</string>
                <key>sourceSize</key>
                <string>{270,80}</string>
            </dict>
            <key>77.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,671},{140,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,0},{140,80}}</string>
                <key>sourceSize</key>
                <string>{270,80}</string>
            </dict>
            <key>78.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{244,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{244,80}}</string>
                <key>sourceSize</key>
                <string>{270,80}</string>
            </dict>
            <key>79.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{190,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{190,80}}</string>
                <key>sourceSize</key>
                <string>{270,80}</string>
            </dict>
            <key>80.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{270,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{270,70}}</string>
                <key>sourceSize</key>
                <string>{270,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon_spacial.png</string>
            <key>size</key>
            <string>{351,1001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a0506b8aee3d3db00e50cd1780546e6$</string>
            <key>textureFileName</key>
            <string>icon_spacial.png</string>
        </dict>
    </dict>
</plist>
